* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Poppins', monospace;
}
body {
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
li {
    list-style: none;
}
header {
    position: fixed;
    background:#fff;
    padding: 1vw;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
}
h1 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Heebo';
    line-height: 53px;
    color: #333;
}
header ul {
    display: flex;
    background: #828282;
    position: absolute;
    left: 1000px;
    top: 0;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    transition: .3s;
}
header ul li a{
    text-transform: capitalize;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;
    color: #F2F2F2;
}
span {
    position: relative;
    top: -8vh;
}
li a:hover {
    color: #2D9CDB;
    transition: .3s;
}
header i {
    font-size: 25px;
    align-self: center;
    transition: .3s;
}
header i:hover {
    color: #2D9CDB;
    transform: rotate(90deg);
}
.visible {
    left: 0;
}
main {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    padding: 9vw;
}
main .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.presentation p {
    align-self: flex-start;
    font-size: 12px;
    line-height: 18px;
    color: #2D9CDB;
}
h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #333;
}
.presentation img {
    width: 90vw;
    height: auto;
    border-radius: 1vw;
}
.presentation .contact {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.contact p {
    color: #333;
    font-weight: 400;
}
form label {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    color: #828282;
}
form .inputSpace {
    width: 291px;
    background: #f2f2f2;
    border-radius: 2vw;
    height: 5vh;
    display: flex;
    align-items:center ;
}
.inputSpace #mailInput {
    background: #f2f2f2;
    border: none;
    width: 70%;
    height: 3vh;
    color: #BDBDBD;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding: 10px;
}
.inputSpace .submitButton {
    background: #2D9CDB;
    border-radius: 2vw;
    border: none;
    height: 90%;
    width: 29%;
    color: #F2F2F2;
    font-size: 14px;
    line-height: 21px;
    justify-content: flex-end;
    cursor: pointer;
}
main .services {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.services .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}
.cardsContainer .card {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    gap: 5vh;
    border-radius: 5vw;
}
.cardsContainer .card:hover {
    box-shadow: rgba(51, 51, 51, 0.1) 0px 10px 30px;
    transition: .3s;
}
.card i {
    color: #fff;
    padding: 1vh;
    width: fit-content;
    font-size: 30px;
    border-radius: 2vw;
}
.card1 i {
    background: #2D9CDB;
}
.card2 i {
    background: #27AE60;
}
.card3 i {
    background: #EB5757;
}
.card .cardTextContainer {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.cardTextContainer h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.cardTextContainer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}
.cardTextContainer button {
    width: 40%;
    background: #E0E0E0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    border: none;
    height: 5vh;
    border-radius: 2vw;
    cursor: pointer;
}
.cardTextContainer button:hover {
    background: #2D9CDB;
    transition: .3s;
    color: #fff;
}
main .designExamples {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}
.designExamples .designContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.designContainer img {
    width: 100%;
    border-radius: 2vh;
}
.designContainer p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}
.designContainer h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333;
}
.designExamples a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
    text-decoration: none;
    cursor: pointer;
}
a i {
    font-size: 18px;
    margin-left: 3vw;
}
main .team {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.team .teamTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.teamTextContainer .teamTextRed {
    font-size: 18px;
    line-height: 27px;
    color: #EB5757;
}
.teamTextContainer h2 {
    font-size: 36px;
    line-height: 54px;
    color: #333;
}
.teamTextContainer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}
.team .teamPhotosContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    align-content: center;
    justify-content: center;
}
.teamPhotosContainer .bigTeamPhotoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bigTeamPhotoContainer img {
    width: 40vw;
    height: 40vw;
    border-radius: 2vw;
}
.teamPhotosContainer .smallPhotosContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.smallPhotosContainer img {
    width: 35vw;
    border-radius: 2vw;
}
main .testimonie {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.testimonie h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.testimonie .profileCard {
    display: flex;
    gap: 5vw;
}
.profileCard figure img {
    width: 22vw;
    border-radius: 2vw;
}
.profileCard .profileCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profileCardText h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.profileCardText p {
    font-size: 18px;
    line-height: 27px;
    color: #828282;
}
footer {
    background: #100E1D;
    display: flex;
    flex-direction: column;
    padding: 5vw 10vw;
    gap: 8vh;
    justify-content: space-between;
}
footer .footerMenu ul {
    display: flex;
    flex-direction: column;
}
.footerMenu ul li a{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}
.footerMenu ul li a:hover {
    color: #2D9CDB;
    transition: .3s;
}
footer .socialIcons {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.socialIcons h1 {
    color: #fff;
}
.socialIcons ul {
    display: flex;
    gap: 3vw;
}
.socialIcons ul li .fab{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.footer2 {
    display: flex;
    justify-content: center;
    margin-top: calc(-7vh - 1px);
}
.footer2 p {
    color: #F2F2F2;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
}

@media (min-width: 1024px) {
    body {
        gap: 4vh;
    }
    header #menu {
        display: flex;
        background: #fff;
        position: static;
        left: 0;
        top: 0;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: fit-content;
        gap: 3vw;
        transition: .3s;
        }
    header ul li a {
        color: #333;
    }
    header .fas {
        display: none;
    }
    main {
        gap: 30vh;
        padding: 5vw;
        align-items: center;
    }
    main .presentation {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5vh;
    }
    .presentation p {
        font-size: 18px;
        line-height: 27px;
    }
    h2 {
        font-size: 48px;
        line-height: 72px;
    }
    .presentation img {
        align-self: center;
    }
    .presentation .contact {
        width: 50%;
        gap: 4vh;
    }
    .contact p {
        color: #333;
        font-weight: 400;
    }
    form label {
        font-size: 14px;
        line-height: 21px;
    }
    form .inputSpace {
        width: 95%;
        border-radius: 1vw;
        height: 6vh;
        padding: 2px;
    }
    .inputSpace #mailInput {
        width: 95%;
        height: 3vh;
        font-size: 18px;
        line-height: 27px;
        padding: 10px;
    }
    .inputSpace .submitButton {
        border-radius: 1vw;
        height: 90%;
        width: 25%;
        font-size: 18px;
        line-height: 27px;
    }
    main .services {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    .services h2 {
        align-self: flex-start;
    }
    .services .cardsContainer {
        width: 95%;
        flex-direction: row;
        gap: 3vh;
    }
    .cardsContainer .card {
        padding: 5vw;
        gap: 2vh;
        border-radius: 2vw;
    }
    .card i {
        padding: 1.5vh;
        font-size: 30px;
        border-radius: 1vw;
    }
    .card .cardTextContainer {
        gap: 3vh;
    }
    .cardTextContainer button {
        width: 40%;
        height: 4vh;
        border-radius: 10px;
    }
    main .designExamples {
        display: grid;
        grid-template: repeat(10, 1fr)/1fr 1fr;
        padding: 60px;
    }
    .designExamples #ourWorks {
        grid-area: 2/1/3/2;
    }
    .designExamples .designContainer {
        gap: 2vh;
    }
    .designExamples .designContainer1 {
        grid-area: 2/2/6/3;
    }
    .designExamples .designContainer2 {
        grid-area: 3/1/7/2;
    }
    .designExamples .designContainer3 {
        grid-area: 7/1/11/2;
    }
    .designExamples .designContainer4 {
        grid-area: 6/2/10/3;
    }
    .designContainer img {
        width: 100%;
        border-radius: 2vh;
    }
    .designContainer p {
        font-size: 14px;
        line-height: 21px;
    }
    .designContainer h4 {
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 24px;
        line-height: 36px;
    }
    .designExamples a {
        grid-area: 10/2/11/3;
        font-size: 24px;
        line-height: 36px;
        align-self: center;
        justify-self: flex-end;
    }
    a i {
        font-size: 28px;
        margin-left: 2vw;
    }
    main .team {
        flex-direction: row;
        gap: 10vw;
    }
    .team .teamTextContainer {
        width: 40%;
        padding: 7vw;
        justify-content: center;
        gap: 1vh;
    }
    .teamTextContainer p {
        font-size: 16px;
        line-height: 24px;
    }
    .team .teamPhotosContainer {
        width: 60%;
        gap: 4vw;
    }
    .bigTeamPhotoContainer img {
        width: 100%;
        height: auto;
        border-radius: 2vw;
    }
    .teamPhotosContainer .smallPhotosContainer {
        gap: 4vw;
    }
    .smallPhotosContainer img {
        width: 90%;
        height: auto;
        border-radius: 2vw;
    }
    main .testimonie {
        align-self: flex-start;
        padding-left: 100px;
        width: 75%;
        gap: 2vh;
    }
    .testimonie h2 {
        font-size: 36px;
        line-height: 54px;
    }
    .testimonie .profileCard {
        gap: 2vw;
    }
    .profileCard figure img {
        max-width: 5vw;
        border-radius: 15px;
    }
    footer {
        flex-direction: row;
        padding: 5vw 10vw;
        gap: 0vh;
        justify-content: space-between;
    }
    footer form {
        width: 30%;
    }
    footer .footerMenu ul {
        display: flex;
        flex-direction: column;
    }
    .footerMenu ul li {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        text-transform: capitalize;
    }
    .socialIcons ul {
        gap: 1vw;
    }
    .socialIcons ul li .fab{
        font-size: 30px;
    }
}